.container {
  max-width: 800px;
  margin: 1rem auto;
  padding: 0 1rem;
  color: #121212;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.container h1 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #121212;
}

.container h3 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.container h3::before {
  content: "# ";
  font-weight: 600;
  color: #5c90ff;
}

.container a {
  font-weight: 600;
  color: #5c90ff;
}

.container a:hover,
.container a:focus {
  border-bottom: 0.125rem #5c90ff solid;
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  background-color: #5c90ff;
  width: 10rem;
  height: 0.125rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
