@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400&display=swap");

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

hr {
  background-color: #929dcb;
  width: 10rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

a {
  transition: all ease-out 0.2s;
}

a:hover,
a:focus {
  text-decoration: underline;
  cursor: pointer;
}

b {
  font-weight: 500;
}

.container {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.question {
  line-height: 2rem;
  display: block;
  padding: 0.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.desc {
  display: block;
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.who {
  border-left: 0.25rem solid #82aaff;
}

.what {
  border-left: 0.25rem solid #c3e88d;
}

.why {
  border-left: 0.25rem solid #c792ea;
}

.how {
  border-left: 0.25rem solid #f07178;
}

.purple {
  color: #c792ea;
  font-weight: 500;
}

.blue {
  color: #82aaff;
  font-weight: 500;
}

.green {
  color: #c3e88d;
  font-weight: 500;
}

.red {
  color: #f07178;
  font-weight: 500;
}
