@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:500&display=swap");

.title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.divider {
  background-color: #929dcb;
  width: 5rem;
  height: 0.125rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.container {
  max-width: 900px;
  margin: 1rem auto;
  padding: 0 1rem;
  text-align: center;
  color: #ffffff;
}

.subtitle {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
}

.subtitle::before {
  content: "< ";
  color: #82aaff;
}

.subtitle::after {
  content: " />";
  color: #82aaff;
}
