@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.divider {
  background-color: var(--lightBlue);
  width: 5rem;
  height: 0.125rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.container {
  max-width: 800px;
  margin: 1rem auto;
  padding: 0 1rem;
  text-align: center;
  color: var(--white);
}

.subtitle {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
}

.subtitle::before {
  content: "< ";
  color: var(--blue);
}

.subtitle::after {
  content: " />";
  color: var(--blue);
}
