@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.container {
  max-width: 900px;
  padding: 1rem;
  margin: 0 auto;
  color: #ffffff;
  text-align: left;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.divider {
  background-color: #929dcb;
  margin: auto;
  margin-bottom: 1rem;
  width: 30%;
}

.tagDivider {
  background-color: #929dcb;
  margin: auto;
  margin-bottom: 1rem;
}

.cover {
  margin-bottom: 1rem;
}

.title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 2.75rem;
  font-size: 2.5rem;
  text-align: center;
}

.date {
  text-transform: uppercase;
  color: #929dcb;
  font-size: 0.75rem;
  margin-bottom: 0;
  text-align: center;
}

.time {
  text-transform: uppercase;
  color: #929dcb;
  font-size: 0.75rem;
  line-height: 0.8rem;
  text-align: center;
}

.toc {
  background-color: #181824;
  padding: 0.5rem;
  margin: 1rem 0;
}

.tocTitle {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  text-align: left;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.content h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  border-bottom: 0.1rem #929dcb solid;
}

.content h2 {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 0;
}

.content h3,
.content h4 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.content p {
  font-weight: 300;
  margin-bottom: 1rem;
}

.content li {
  font-weight: 300;
}

.content img {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.content p a {
  border-bottom: 0.2rem #82aaff solid;
  transition: all ease-out 0.2s;
  font-weight: 400;
  line-height: 1.25rem;
}

.content p a:hover,
.content p a:focus {
  color: #82aaff;
  text-decoration: underline;
  cursor: pointer;
}

.content code {
  font-size: 1rem;
  background-color: #181824;
  padding: 0.2rem;
  border-radius: 0.25rem;
}

.tagName {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.tag {
  display: inline-block;
  margin: 0;
  margin-right: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  background-color: #181824;
  color: #929dcb;
  padding: 0.75rem;
  text-transform: lowercase;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.tag::before {
  content: "# ";
  font-weight: 600;
}
