@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("../styles/colors.css");

.container {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  color: var(--white);
  text-align: left;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.divider {
  background-color: var(--lightBlue);
  margin: auto;
  margin-bottom: 1rem;
  width: 30%;
}

.tagDivider {
  background-color: var(--lightBlue);
  margin: auto;
  margin-bottom: 1rem;
}

.cover {
  margin-bottom: 1rem;
}

.title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 2.75rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.date {
  text-transform: uppercase;
  color: var(--lightBlue);
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  margin-bottom: 0;
  text-align: center;
}

.time {
  text-transform: uppercase;
  color: var(--lightBlue);
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  line-height: 0.8rem;
  text-align: center;
}

.toc {
  background-color: var(--darkest);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
}

.tocTitle {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  text-align: left;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  vertical-align: middle;
  font-weight: 600;
}

.content h1::before,
.content h2::before,
.content h3::before,
.content h4::before {
  content: "# ";
  color: var(--blue);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.content h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  border-bottom: 0.1rem var(--lightBlue) solid;
}

.content h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem var(--lightBlue) solid;
}

.content h3,
.content h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.content li {
  font-weight: 400;
}

.content p a {
  border-bottom: 0.2rem var(--blue) solid;
  transition: all ease-out 0.2s;
  font-weight: 400;
  line-height: 1.25rem;
}

.content p a:hover,
.content p a:focus {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.content code {
  font-size: 1rem;
  background-color: var(--darkest);
  padding: 0.2rem;
  border-radius: 0.25rem;
}

.content pre {
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.tagName {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.tag {
  display: inline-block;
  margin: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--darkest);
  color: var(--lightBlue);
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-transform: lowercase;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.tag::before {
  content: "# ";
  font-weight: 600;
}
