@import url("https://fonts.googleapis.com/css?family=Oswald:500&display=swap");
@import url("../styles/colors.css");

.wrapper {
  margin-top: 0.5rem;
  display: flex;
  font-size: 1.75rem;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: all ease-out 0.2s;
}

.wrapper:hover,
.wrapper:focus {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.catBox {
  flex: 1;
  margin: 0;
  border-left: 0.25rem solid var(--blue);
  padding: 0.75rem;
  background-color: var(--darkish);
  text-transform: uppercase;
  text-align: left;
}

.number {
  margin: 0;
  color: var(--dark);
  padding: 0.75rem;
  min-width: 3.75rem;
  background-color: var(--blue);
}
