.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}

.container:focus,
.container:hover {
  filter: brightness(1.05);
}

.wrapper {
  padding: 0.5rem;
  background-color: var(--darkish);
  border-top: solid var(--darkest) 1px;
}

.title {
  display: block;
  text-align: left;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.prefix {
  max-width: 0.75rem;
  max-height: 0.75rem;
  display: inline-block;
  margin: 0;
  margin-right: 0.2rem;
  fill: var(--lightBlue);
}

.date {
  display: block;
  text-align: left;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--lightBlue);
}

.desc {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  color: var(--lightBlue);
  margin-bottom: -0.5rem;
  display: block;
}

.tag {
  display: inline-block;
  margin: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  line-height: 0.5rem;
  background-color: var(--darkest);
  color: var(--lightBlue);
  padding: 0.5rem;
  text-transform: lowercase;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
}

.tag::before {
  content: "# ";
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .container {
    display: flex;
  }

  .container > .image {
    flex: 1;
  }

  .container > .wrapper {
    flex: 1;
  }
}
