:root {
  --darkest: #181824;
  --dark: #212333;
  --darkish: #292d3e;
  --grey: #676e95;
  --lightBlue: #959dcb;
  --blue: #82aaff;
  --red: #f07178;
  --green: #c3e88d;
  --purple: #c792ea;
  --white: #ffffff;
  --bezier: cubic-bezier(0.1, 0.11, 0.29, 1);
}
