.container {
  padding: 1rem;
  text-align: center;
  background-color: #ffffff;
  color: #121212;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.desc {
  font-size: 0.8rem;
  font-weight: 400;
}

.desc > span {
  display: block;
}
