html {
  scrollbar-color: #5c90ff #efefef;
  scrollbar-width: thin;
}

body {
  scrollbar-color: #5c90ff #efefef;
  scrollbar-width: thin;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  color: #121212;
  height: 100vh;
  max-width: 1366px;
  margin: auto;
}

.greet {
  display: grid;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #ffffff;
  padding: 4rem 2rem 1rem;
  text-align: center;
}

.wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border: 0.25rem solid #ffffff;
  border-radius: 5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.15);
  background-color: #181824;
  margin-bottom: 1rem;
}

.logo .svg {
  flex: 1;
}

.greet-text {
  display: block;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.greet-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.logo-title {
  grid-column: 1 / -1;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.logos svg {
  max-width: 3rem;
  max-height: 3rem;
}

.posts {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.cards {
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.title {
  display: block;
  text-align: center;
  line-height: 2.5rem;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

.underline {
  width: 5rem;
}

.more-post {
  text-align: center;
  margin: 1rem auto;
  width: 8rem;
  padding: 0.5rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  background-color: #5c90ff;
  color: #ffffff;
  border-radius: 0.25rem;
}

.more-post:hover,
.more-post:focus {
  filter: brightness(1.1);
}

@media screen and (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
  }

  .cards {
    overflow: visible;
  }
}

@media screen and (max-width: 424px) {
  .logo {
    height: 9rem;
    width: 9rem;
  }

  .logo > * {
    height: 6rem;
    width: 6rem;
  }

  .greet-text {
    font-size: 1.8rem;
  }
}
