@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("../styles/colors.css");

@keyframes moveUp {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: -3.2rem;
  color: var(--white);
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
  background-color: var(--darkish);
  padding: 0.8rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.logo {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border: 0.25rem solid var(--darkish);
  border-radius: 5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.15);
  background-color: var(--darkest);
  margin-bottom: 1rem;
  opacity: 0;
  animation: moveUp var(--bezier) 1200ms forwards;
}

.logo .svg {
  flex: 1;
}

.greet-text {
  display: block;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  opacity: 0;
  animation: moveUp var(--bezier) 1200ms forwards;
  animation-delay: 100ms;
}

.greet-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  opacity: 0;
  animation: moveUp var(--bezier) 1200ms forwards;
  animation-delay: 200ms;
}

.arrow {
  position: absolute;
  bottom: 2rem;
  opacity: 0;
  animation: moveUp var(--bezier) 1200ms forwards;
  animation-delay: 200ms;
}

.posts {
  flex: 1;
  padding-top: 1rem;
}

.posts::before {
  display: block;
  content: " ";
  margin-top: -4rem;
  height: 4rem;
  visibility: hidden;
  pointer-events: none;
}

.title {
  display: block;
  text-align: center;
  line-height: 3rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.underline {
  width: 5rem;
}

.more-post {
  text-align: center;
  margin: 1rem auto;
  width: 8rem;
  border: 0.1rem var(--white) solid;
  padding: 0.5rem;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.more-post:hover,
.more-post:focus {
  background-color: var(--blue);
  color: var(--dark);
  border: 0.1rem var(--dark) solid;
}
