a {
  text-decoration: none !important;
  color: var(--white);
}

a:active,
a:hover,
a:focus,
a::-moz-inner-focus {
  color: var(--blue);
  border: 0;
}

.container {
  position: fixed;
  z-index: 20;
  background-color: var(--darkest);
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem;
  color: var(--white);
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: auto;
  z-index: 21;
}

.logo {
  flex: 2;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  transition: opacity ease-out 0.2s;
  font-weight: 600;
}

.menu {
  display: none;
  visibility: none;
  pointer-events: none;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 22;

  -webkit-user-select: none;
  user-select: none;
}

.hamburger > input {
  display: block;
  width: 2.5rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.hamburger > span {
  display: block;
  width: 2.4rem;
  height: 0.125rem;
  margin: 0.5rem 0;
  position: relative;
  background: var(--white);
  z-index: 23;
  transform-origin: 4px 0px;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.2s ease;
}

.hamburger > span:first-child {
  transform-origin: 0% 0%;
}

.hamburger > span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.hamburger > input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--white);
}

.hamburger > input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger > input:checked ~ span:nth-last-child(1) {
  transform: rotate(-45deg) translate(0, -1px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkest);
  color: var(--white);
  z-index: 20;
  transition: opacity ease-out 0.2s;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 8rem;
  left: 2rem;
  right: 2rem;
  bottom: 8rem;
}

.item {
  display: flex;
  align-items: center;
  flex: 1;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}

.themeToggle {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1rem;
}

.themeToggle * {
  fill: var(--white);
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    pointer-events: all;
  }

  .menu > a {
    flex: 2;
    font-size: 1.25rem;
    transition: all ease-out 0.2s;
    border-bottom: 0.1rem rgba(0, 0, 0, 0) solid;
  }

  .menu > a:hover,
  .menu > a:focus {
    color: var(--blue);
    outline: 0;
    border-bottom: 0.1rem var(--blue) solid;
  }

  .themeToggle {
    flex: 1;
    margin: 0 1rem;
    cursor: pointer;
  }
}
