a {
  text-decoration: none !important;
  color: #121212;
}

.container {
  position: fixed;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.5rem);
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem;
  color: #121212;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.wrapper {
  display: flex;
  max-width: 1080px;
  margin: auto;
  z-index: 21;
}

.logo {
  flex: 2;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  transition: opacity ease-out 0.2s;
  font-weight: 700;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.menu {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  visibility: none;
  pointer-events: none;
  font-size: 0.75rem;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 22;

  -webkit-user-select: none;
  user-select: none;
}

.hamburger > input {
  display: block;
  width: 2.5rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.hamburger > span {
  display: block;
  width: 2.4rem;
  height: 0.125rem;
  margin: 0.5rem 0;
  position: relative;
  background: #121212;
  z-index: 23;
  transform-origin: 4px 0px;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.2s ease;
}

.hamburger > span:first-child {
  transform-origin: 0% 0%;
}

.hamburger > span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.hamburger > input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #121212;
}

.hamburger > input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger > input:checked ~ span:nth-last-child(1) {
  transform: rotate(-45deg) translate(0, -1px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.5rem);
  color: #121212;
  z-index: 20;
  transition: opacity ease-out 0.2s;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 8rem;
  left: 2rem;
  right: 2rem;
  bottom: 8rem;
}

.item {
  display: flex;
  align-items: center;
  flex: 1;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    pointer-events: all;
  }

  .menu > a {
    flex: 1;
    font-size: 1rem;
    transition: all ease-out 0.2s;
    border-bottom: 0.125rem rgba(0, 0, 0, 0) solid;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  }

  .menu > a:hover,
  .menu > a:focus {
    color: #5C90FF;
    outline: 0;
    border-bottom: 0.125rem #5C90FF solid;
  }

  .themeToggle {
    flex: 1;
    margin: 0 1rem;
    cursor: pointer;
  }
}
