.container {
  margin-top: -4rem;
  padding: 1rem 0 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.navigation {
  display: block;
  margin: auto;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.pageNumber {
  flex: 1;
  text-align: center;
}

.active,
.inactive {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.active {
  color: #ffffff;
  background-color: #5c90ff;
  cursor: pointer;
  justify-self: start;
}

.inactive {
  background-color: #dbdbdb;
  color: #ababab;
  pointer-events: none;
}
