.container {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  color: #121212;
  text-align: left;
  font-family: "PT Sans", sans-serif;
}

.divider {
  background-color: #5c90ff;
  margin: auto;
  margin-bottom: 1rem;
  width: 30%;
  height: 0.125rem;
}

.tagDivider {
  background-color: #5c90ff;
  margin: auto;
  margin-bottom: 1rem;
  height: 0.125rem;
}

.cover {
  margin-bottom: 1rem;
}

.title {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  line-height: 2.75rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.date {
  text-transform: uppercase;
  color: #121212;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  margin-bottom: 0;
  text-align: center;
}

.time {
  text-transform: uppercase;
  color: #121212;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  line-height: 0.8rem;
  text-align: center;
}

.toc {
  background-color: #fafafa;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.toc a:hover {
  color: #5c90ff;
  transition: color ease-out 0.2s;
}

.toc-title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  grid-column: 2 / 3;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  text-align: left;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  vertical-align: middle;
  font-weight: 600;
  margin: 1rem 0;
}

.content h3::before,
.content h4::before {
  content: "# ";
  color: #5c90ff;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.content h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  border-bottom: 0.125rem #5c90ff solid;
}

.content h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  padding: 0.5rem 0;
  border-bottom: 0.125rem #5c90ff solid;
}

.content h3,
.content h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content p {
  color: #292d3e;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.content li {
  font-weight: 400;
}

.content li li {
  list-style: circle;
}

.content p a {
  border-bottom: 0.2rem #5c90ff solid;
  transition: all ease-out 0.2s;
  font-weight: 400;
  line-height: 1.25rem;
}

.content p a:hover,
.content p a:focus {
  color: #5c90ff;
  text-decoration: underline;
  cursor: pointer;
}

.content code {
  font-family: "Iosevka", monospace;
  font-size: 0.9rem;
  color: #292d3e;
  background-color: #f4f4f4;
  padding: 0.2rem;
  border-radius: 0.25rem;
}

.content code::before {
  display: none;
}

.content pre {
  border-radius: 0.25rem;
  font-family: "Iosevka", monospace;
  scrollbar-width: thin;
  scrollbar-color: #dbdbdb #ffffff;
  margin-bottom: 1rem;
}

.content pre code {
  background-color: #292d3e;
  color: #b2b8dc;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Iosevka", monospace;
}

.content table {
  border-radius: 0.2rem;
  overflow: hidden;
}

.content table a {
  transition: all ease-out 0.2s;
  font-weight: 600;
  line-height: 1.25rem;
  font-style: italic;
}

.content table tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.content table th {
  background-color: #5c90ff;
  color: #ffffff;
  font-size: 1.25rem;
}

.content table th,
.content table td {
  padding: 0.75rem 1rem;
}

.content blockquote {
  background-color: #f4f4f4;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.content blockquote p::before {
  content: "ー ";
  color: #5c90ff;
}

.tagName {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.tag {
  display: inline-block;
  margin: 0.25rem;
  font-size: 1rem;
  line-height: 1rem;
  background-color: #5c90ff;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-transform: lowercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.tag::before {
  content: "# ";
  font-weight: 600;
}
