.wrapper {
  display: inline-flex;
  margin: 0.5rem;
  font-size: 1.75rem;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: all ease-out 0.2s;
}

.wrapper:hover,
.wrapper:focus {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  filter: brightness(1.2);
}

.tagBox {
  flex: 1;
  padding: 0.5rem;
  background-color: var(--darkish);
  text-transform: uppercase;
  text-align: left;
  font-size: 1.25rem;
}

.number {
  margin: 0;
  padding: 0.5rem;
  min-width: 2.5rem;
  font-size: 1.25rem;
  color: var(--dark);
  background-color: var(--blue);
}
