.wrapper {
  display: grid;
  font-size: 1rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  grid-template-columns: 3fr 1fr;
  transition: all ease-out 0.2s;
}

.wrapper:hover,
.wrapper:focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  filter: brightness(1.1);
}

.tagBox {
  flex: 1;
  padding: 0.5rem;
  background-color: #efefef;
  border-left: 0.25rem solid #2f6ef3;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.125rem;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #2f6ef3;
}
