.container {
  margin: 2rem auto;
  max-width: 800px;
}

.container h1 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--white);
}

.divider {
  background-color: var(--lightBlue);
  width: 10rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
